@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: #27272a;
  --color-light-background: #f4f4f5;
  --color-primary: #38bdf8;
  --color-secondary: #34d399;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #e4e4e7;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --sidebar-width: 16rem;
  --header-height: 5.5rem;
}

.dark {
  color: rgba(255, 255, 255, 0.87);
  background-color: #18181b;
}

.dark svg {
  filter: invert(1);
}

button {
  cursor: pointer;
}

option {
  color: var(--color-primary);
  background-color: var(--color-background);
}

td,
th {
  text-align: center;
}

td {
  font-size: var(--text-lg);
  font-weight: var(--font-weight-semibold);
}
